<div class="container">
  <div class="collection">

    <div class="collection-item">
      <h4 class="input-field white">Bienvenido {{user.name}}</h4>
    </div>
    <a href="/turnos" class="collection-item">Turnos</a>
    <a href="/medicamentos" class="collection-item">Medicamentos</a>
    <a href="/medicos" class="collection-item">Medicos</a>
  </div>

</div>