<div class="section container">
    <h3>Bienvenido al hospital BuenasAguas!</h3>

    <p>El hospital por excelencia, perfecto para estas épocas de pandemia. Nuestros precios son oceanos y nuestros servicios lagrimas. Dejá que fluya, no hacemos aguas
    </p>
    <h4>Contacta con nosotros</h4>
    <div class="col s12">

        <form class="row card-panel" action="mailto:someone@example.com" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input id="name" name="name" type="text" class="validate" required>
                    <label for="name">Nombre</label>
                </div>
                <div class="input-field col s6">
                    <input id="mail" name="mail" type="text" class="validate" required>
                    <label for="mail">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="comment" name="comment" type="text" class="validate" required>
                    <label for="comment">Comentario</label>
                </div>
                <input class="btn" type="submit" value="Enviar">
        </form>



    </div>