  <div id="content" class="container">
    <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>
    
    <form id="form">
        <input type="text" id="medicamento" placeholder="medicamento">
        <input type="text" id ="via" placeholder="via">
        <button class="btn" type="submit"></button>
    </form>
    <div id="lista"></div>

  </div>