<div id="content" class="container">
  <form id="formMedicos" class="card-panel">
    <h4><i class="material-icons" style="margin-right: 10px;">group_add</i>Médicos</h4>
    <input type="text" id="medicoInput" placeholder="Medico" class="autocomplete">

    <select class="input-field" id="especialidad" name="especialidad" style="display: block;">
            <option value="" disabled selected>Especialidad</option>
            <option value="Pediatra">Pediatra</option>
            <option value="Otorrino">Otorrino</option>
            <option value="Oftalmólogo">Oftalmólogo</option>
            <option value="Odontólogo">Odontólogo</option>
            <option value="Cirujano">Cirujano</option>
        </select>
    <input class="btn" type="submit" style="margin-top: 30px;"></button>
  </form>
  <div id="divListaMedicos"></div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

<script>

    $(document).ready(function () {
        //Autocomplete
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/medicosAjax?fields=name',
                success: function (response) {
                    var nameArray = response;
                    var data = {};
                    for (var i = 0; i < nameArray.length; i++) {
                        //console.log(nameArray[i].name);
                        data[nameArray[i].name] = nameArray[i].flag; //nameArray[i].flag or null
                    }
                    $('input.autocomplete').autocomplete({
                        data: data,
                        limit: 5, // The max amount of results that can be shown at once. Default: Infinity.
                    });
                }
            });
        });
    });
</script>






<script>
  const medicoInput = document.getElementById("medicoInput");
  const especialidadSelect = document.getElementById("especialidad")
  const divListaMedicos = document.getElementById("divListaMedicos");
  const formMedicos = document.getElementById("formMedicos")

  const getMedicos = (name,especialidad) => {
    const ajaxRequest = new XMLHttpRequest();
    ajaxRequest.addEventListener("load", function () {
      if (this.status == 200) {
        const medicoList = JSON.parse(this.responseText);
        createLista(medicoList);
      };
    });
    ajaxRequest.open("GET", `/medicosAjax?filterByName=${name}&filterByEspecialidad=${especialidad}`);
    ajaxRequest.send();
  };

  formMedicos.addEventListener("submit", (event) => {
    event.preventDefault();
    console.log(especialidadSelect.value)
    getMedicos(medicoInput.value, especialidadSelect.value);
  })



  function createLista(medicosList) {

    divListaMedicos.innerHTML = "";
    const newUl = document.createElement("ul");

    for (let i = 0; i < medicosList.length; i++) {
      const medicoObj = medicosList[i];
      const newDiv = document.createElement("div");
      const newDivStacked = document.createElement("div");
      const newDivCard = document.createElement("div");
      const newLi = document.createElement("li");
      const addButton = document.createElement("button")
      const addSpan = document.createElement("span");
      const addText = document.createElement("span")
      const newAHref = document.createElement("a")
      const newIcono = document.createElement("i")
      newDiv.className = "card horizontal";
      newLi.appendChild(newDiv);
      newDivStacked.className = "card-stacked";
      newDiv.appendChild(newDivStacked)
      newDivCard.className = "card-content grey lighten-2";
      newDivStacked.appendChild(newDivCard);

      newAHref.className = "btn-floating btn-large waves-effect waves-light";
      newDivCard.appendChild(newAHref);
      newIcono.className = "material-icons";
      newIcono.innerText = "star_border";
      newAHref.appendChild(newIcono)
      addSpan.className = "light-blue-text lighten-3 flow-text";
      addSpan.style.fontWeight = "bold";
      addSpan.style.marginLeft = "20px";
      //addSpan.style.fontSize = "1.5vw";
      addSpan.innerText = `${medicoObj.name} ${medicoObj.especialidad} `;
      newDivCard.appendChild(addSpan);

      addText.className = "green accent-3"
      addText.style.marginLeft = "10px";
      addText.style.color = "dark green";
      addText.style.fontFamily = "italic";


      const newAHref2 = document.createElement("a")
      const newIcono2 = document.createElement("i")

      newAHref2.appendChild(newIcono2)

      newDivCard.appendChild(newAHref2);
      newUl.appendChild(newLi);


      newDivCard.appendChild(addText);

      newAHref.addEventListener("click", (event) => {
        const ajaxRequest = new XMLHttpRequest();
        ajaxRequest.addEventListener("load", function () {
          if (this.status == 200) {
            //añadir alguna clase
            newAHref2.className = "floating waves-effect waves-dark blue-grey darken-4"
            newAHref2.style.marginLeft = "20px"
            newIcono2.className = "material-icons";
            newIcono2.innerText = "done";
            addText.innerText = "medico añadido a favoritos";
          };
          if (this.status == 500) {
            addText.innerText = "Error al añadir";
          };
        });
        ajaxRequest.open("POST", `/medicoFav`);
        ajaxRequest.setRequestHeader("Content-Type", "application/json");
        ajaxRequest.send(JSON.stringify(medicoObj));
      });
    }

    divListaMedicos.appendChild(newUl);
    divListaMedicos.classList.add("card-panel");


  }

</script>