<div id="content" class="container">
    <div id="medicamentosFav" class="card-panel">
        <h3 class="col s12">Medicamentos Favoritos</h3>
        <table>
            <thead>
                <tr>
                    <th>Medicamento</th>
                    <th>Tipo</th>
                    <th>Via</th>
                    <th>Eliminar</th>

                </tr>
            </thead>

            <tbody>
                {{#each user.medicamentos}}
                <tr>
                    <td>{{this.medicamento}}</td>
                    <td>{{this.tipo}}</td>
                    <td>{{this.via}}</td>
                    <td><button id="deleteMedicamento" type="submit">Eliminar</button></td>
                    {{/each}}
                </tr>

            </tbody>
        </table>
    </div>
</div>

{{!-- <script>
    const deleteMedicamento = document.getElementById("deleteMedicamento");

    deleteMedicamento.addEventListener("submit", (event) => {
        event.preventDefault();
        getMedicamento(medicamentoInput.value);
    })

    const removeMedicamento = (medicamento) => {
        const ajaxRequest = new XMLHttpRequest();
        ajaxRequest.addEventListener("load", function () {
            if (this.status == 200) {
                const medicamentoList = JSON.parse(this.responseText);
                removeLista(medicamentoList);
            };
        });
        ajaxRequest.open("POST", "/removeMedicamento");
        ajaxRequest.send();
    };

</script> --}}