<div id="content" class="container">
    <div id="medicamentosFav" class="card-panel">
    <h3 class="col s12">Medicamentos Favoritos</h3>
    <p class="col s12">{{medicamentos}}</p>

    </div>
</div>