<div id="content" class="container">
    <div id="medicamentosFav" class="card-panel">
        <h3 class="col s12">Medicamentos Favoritos</h3>
        <table>
            <thead>
                <tr>
                    <th>Medicamento</th>
                    <th>Tipo</th>
                    <th>Via</th>
                    <th>Eliminar</th>

                </tr>
            </thead>

            <tbody>
                {{#each user.medicamentos}}
                <tr id="tableRow">
                    <form id="misMedicamentosForm" class="card-panel">
                    <td id="medicamentoName">{{this.medicamento}}</td>
                    <td>{{this.tipo}}</td>
                    <td>{{this.via}}</td>
                    <td><button id="deleteMedicamentoBtn" type="submit">Eliminar</button>
                    </td>
                    </form>
                    {{/each}}
                </tr>

            </tbody>
        </table>
    </div>
</div>

<script>
    const deleteMedicamentoBtn = document.getElementById("deleteMedicamentoBtn");
    const tableRow = document.getElementById("tableRow");
    const medicamentoName = document.getElementById("medicamentoName");
    const misMedicamentosForm = document.getElementById("misMedicamentosForm");

    const removeMedicamento = (medicamento) => {
        const ajaxRequest = new XMLHttpRequest();
        ajaxRequest.addEventListener("load", function () {
            if (this.status == 200) {
                console.log(this.responseText)
                const medicamentoList = JSON.parse(this.responseText);
                removeData(medicamentoList);
            };
        });
        ajaxRequest.open("POST", "/removeMedicamento");
        ajaxRequest.send(JSON.stringify(medicamentoName));
    };

    misMedicamentosForm.addEventListener("submit", (event) => {
        event.preventDefault();
        removeMedicamento(medicamentoName.value);
    });

    function removeData(medicamentosList) {
        for (let i = 0; i < medicamentosList.length; i++) {
            deleteMedicamentoBtn.addEventListener("click", (event) => {
                const ajaxRequest = new XMLHttpRequest();
                ajaxRequest.addEventListener("load", function () {
                    if (this.status == 200) {
                        console.log("funciona!")
                        tableRow.innerHTML = "";
                    };
                    if (this.status == 500) {
                        console.log("error")
                    };
                });
                ajaxRequest.open("POST", `/removeMedicamentoAJAX`);
                ajaxRequest.setRequestHeader("Content-Type", "application/json");
                ajaxRequest.send(JSON.stringify(medicamentoName));
            });

        }

    }

</script>