<div id="content" class="container">
    <div id="medicamentosFav" class="card-panel">
        <h3 class="col s12">Medicos Favoritos</h3>
        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>Medico</th>
                    <th>Especialidad</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody>
                {{#each user.medicos}}
                <tr id="tableRow">
                    <form id="misMedicamentosForm" class="card-panel">
                        <td id="medicoName">{{this.name}}</td>
                        <td id="medicoEspecialidad">{{this.especialidad}}</td>
                        <td><button id="deleteMedico" type="submit"
                                class="btn-floating btn waves-effect waves-light red">
                                <i class="material-icons">delete</i>Eliminar</button>
                        </td>
                    </form>
                    {{/each}}
                </tr>

            </tbody>
        </table>
    </div>
</div>