<div id="content" class="container">
    <div id="medicamentosFav" class="card-panel">
        <h3 class="col s12">Medicos Favoritos</h3>
        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>Medico</th>
                    <th>Especialidad</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody>
                {{#each user.medicos}}
                <tr id="tableRow">
                    <td id="medicoName">{{this.name}}</td>
                    <td id="medicoEspecialidad">{{this.especialidad}}</td>
                    <td><button id="deleteMedicoBtn" class="btn-floating btn waves-effect waves-light red"
                            onclick="deleteMedico(this, '{{this._id}}')">
                            <i class="material-icons">delete</i>Eliminar</button>
                    </td>
                    {{/each}}
                </tr>

            </tbody>
        </table>
    </div>
</div>

<script>
    const tableRow = document.getElementById("tableRow");

    function deleteMedico(button, id) {
        const ajaxRequest = new XMLHttpRequest();
        ajaxRequest.addEventListener("load", function () {
            if (this.status == 200) {
                button.parentNode.parentNode.remove()
            };
        });
        ajaxRequest.open("POST", "/removeMedico");
        ajaxRequest.setRequestHeader("Content-Type", "application/json");
        ajaxRequest.send(JSON.stringify({ id }));
    }

</script>