<div id="content" class="container">
    <div id="medicamentosFav" class="card-panel">
        <h3 class="col s12">Medicamentos Favoritos</h3>
        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>Medicamento</th>
                    <th>Tipo</th>
                    <th>Via</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody>
                {{#each user.medicamentos}}
                <tr id="tableRow">
                        <td id="medicamentoName">{{this.medicamento}}</td>
                        <td id="medicamentoTipo">{{this.tipo}}</td>
                        <td id="medicamentoVia">{{this.via}}</td>
                        <td><button id="deleteMedicamentoBtn" class="btn-floating btn waves-effect waves-light red" onclick="deleteMedicamento(this, '{{this.medicamento}}')">
                                <i class="material-icons">delete</i>Eliminar</button>
                        </td>
                    {{/each}}
                </tr>

            </tbody>
        </table>
    </div>
</div>

<script>
    const deleteMedicamentoBtn = document.getElementById("deleteMedicamentoBtn");
    const tableRow = document.getElementById("tableRow");
    const medicamentoName = document.getElementById("medicamentoName");
    const medicamentoTipo = document.getElementById("medicamentoTipo");
    const medicamentoVia = document.getElementById("medicamentoVia");
    const misMedicamentosForm = document.getElementById("misMedicamentosForm");

    function deleteMedicamento(button, medicamento) {
        const ajaxRequest = new XMLHttpRequest();
        ajaxRequest.addEventListener("load", function () {
            if (this.status == 200) {
               button.parentNode.parentNode.remove()
            };
        });
        ajaxRequest.open("POST", "/removeMedicamento");
        ajaxRequest.setRequestHeader("Content-Type", "application/json");
        ajaxRequest.send(JSON.stringify({medicamento}));
    }

</script>