<div id="content" class="container">
    <div id="medicamentosFav" class="card-panel">

        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>Medico</th>
                    <th>Especialidad</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                </tr>
            </thead>

            <tbody>
                {{#each user.turnos}}
                <tr id="tableRow">
                    <td id="medicoName">{{this.name}}</td>
                    <td id="medicoEspecialidad">{{this.especialidad}}</td>
                    <td id="fecha"> </td>
                    <td id="hora"> </td>
                    {{/each}}
                </tr>

            </tbody>
        </table>
    </div>
</div>