<div id="register-page" class="section container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <form action="/register" method="POST" class="col s12">
      <div class="row card-panel">
        <div class="input-field col s6">
          <input id="name" name="name" type="text" class="validate" required>
          <label for="name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="surname" name="surname" type="text" class="validate" required>
          <label for="surname">Surname</label>
        </div>
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <input id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
        <div class="input-field col s12">
          <input id="confirmPassword" name="confirmPassword" type="password" class="validate" required>
          <label for="confirmPassword">Confirm Password </label>
        </div>
        <div class="input-field col s12"> <input class="btn" type="submit" value="Registrar"></div>
        {{#if message}}<div class="input-field col s12">
          <p class="message-{{message.class}}">{{message.text}}</p>
          </div>{{/if}}
      </div>

  </div>

  </form>
</div>