<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" rel="stylesheet" />


<div id="content" class="container">
    <form id="turnosForm" class="card-panel" action="/sacarTurno" method="POST">

        <h4><i class="material-icons" style="margin-right: 10px;">today</i>Turnos</h4>
        <div class="row">
            <div class="input-field col s12">
                <label for="medico">Médico</label>
                <input type="text" id="medicoInput" class="autocomplete" name="name">

            </div>
            <select class="input-field col" id="especialidad" name="especialidad" style="display: block;">
                <option value="" disabled selected>Especialidad</option>
                <option value="Pediatra">Pediatra</option>
                <option value="Otorrino">Otorrino</option>
                <option value="Oftalmólogo">Oftalmólogo</option>
                <option value="Odontólogo">Odontólogo</option>
                <option value="Cirujano">Cirujano</option>
            </select>

            <select class="input-field col" id="fecha" name="fecha" style="display: block;">
                <option value="" disabled selected>Fecha</option>
                <option value="2020-06-22">2020-06-22</option>
                <option value="2020-06-23">2020-06-23</option>
                <option value="2020-06-24">2020-06-24</option>
                <option value="2020-06-25">2020-06-25</option>
                <option value="2020-06-26">2020-06-26</option>
            </select>

            <select class="input-field col" id="hora" name="hora" style="display: block;">
                <option value="" disabled selected>Hora</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option>
            </select>


            <button class="btn" type="submit" style="margin-top: 30px;">Sacar turno</button>
    </form>
    {{!-- <div id="horariosDiv">
        MSG successfull
        msg failure

    </div> --}}
    <div id="listaTurnos"></div>

</div>

<script>
    $(document).ready(function () {
        //Autocomplete
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/medicosAutocomplete?fields=name',
                success: function (response) {
                    var nameArray = response;
                    var data = {};
                    for (var i = 0; i < nameArray.length; i++) {
                        //console.log(nameArray[i].name);
                        data[nameArray[i].name] = nameArray[i].flag; //nameArray[i].flag or null
                    }
                    $('input.autocomplete').autocomplete({
                        data: data,
                        limit: 5, // The max amount of results that can be shown at once. Default: Infinity.
                    });
                }
            });
        });
    });
</script>
