<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" rel="stylesheet" />


<div id="content" class="container">
    <form id="turnos" class="card-panel">

        <h4><i class="material-icons" style="margin-right: 10px;">today</i>Turnos</h4>
        <div class="row">
            <div class="input-field col s12">
                <label for="medico">Médico</label>
                <input type="text" id="medico" class="autocomplete">

            </div>
            <select class="input-field col" id="especialidad" name="especialidad" style="display: block;">
                <option value="" disabled selected>Especialidad</option>
                <option value="Pediatra">Pediatra</option>
                <option value="Otorrino">Otorrino</option>
                <option value="Oftalmólogo">Oftalmólogo</option>
                <option value="Odontólogo">Odontólogo</option>
                <option value="Cirujano">Cirujano</option>
            </select>

            <label for="meeting-time">Choose a time for your appointment:</label>

            <input type="datetime-local" id="meeting-time" name="meeting-time" min={{newDate}}>

            <button class="btn" type="submit"></button>
    </form>
    <div id="listaTurnos"></div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

<script>
    $(document).ready(function () {
        //Autocomplete
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/medicosAjax?fields=name',
                success: function (response) {
                    var nameArray = response;
                    var data = {};
                    for (var i = 0; i < nameArray.length; i++) {
                        //console.log(nameArray[i].name);
                        data[nameArray[i].name] = nameArray[i].flag; //nameArray[i].flag or null
                    }
                    $('input.autocomplete').autocomplete({
                        data: data,
                        limit: 5, // The max amount of results that can be shown at once. Default: Infinity.
                    });
                }
            });
        });
    });
</script>