
#main {
  flex: 1 0 auto;
  background-color: #0277bd;
}

#main2{
  flex: 1 0 auto;
  background-color: #004d40;
}

main{
  flex: 1 0 auto; 
}

#block-footer{
  display: block;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.card-panel {
  background-color: #0d47a1 ;
}

/* footer{
    position:fixed;bottom:0;left:0;width:100%;
  } */

.message-failure {
    width: 40%;
    border-color: red;
    background-color: lightcoral;
    color: darkred;
    padding: 7px;
  }
  
.message-success {
    width: 40%;
    border-color: green;
    background-color: lightgreen;
    color: darkgreen;
    padding: 7px;
  }

  .text-success{
    border-color: green;
    background-color: lightgreen;
    color: darkgreen;
    padding: 7px;
  }
  
.signup-message {
    display: block;
    margin-top: 20px;
    color: blue;
    font-size: 0.8em;
  }

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
