<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.name}} {{user.surname}} - Hospital BuenasAguas</title>
</head>

<body>
    <nav class="blue darken-4">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">Logo</a>
        </div>
    </nav>
    <style>
        #container {
            padding-left: 300px;
        }

        #content {
            padding: 20px;
        }

        @media only screen and (max-width : 992px) {
            #container {
                padding-left: 0px;
            }
        }

        #main2 {
            flex: 1 0 auto;
            background-color: #004d40;
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
    </style>

    <div id="container">

        <div id="menu">
            <ul id="slide-out" class="side-nav fixed show-on-large-only">
                <li><a href="/turnos">Turnos</a></li>
                <li><a href="/medicamentos">Medicamentos</a></li>
                <li><a href="/medicos">Médicos</a></li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Mis datos<i class="material-icons">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="">Mis turnos</a></li>
                                    <li><a href="">Mis médicos</a></li>
                                    <li><a href="/mismedicamentos">Mis medicamentos</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Mi cuenta<i class="material-icons">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/changepassword">Cambiar contraseña</a></li>
                                    <li><a href="/logout">Cerrar sesión</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <main id="main2">
        <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i
                class="material-icons">menu</i></a>
        {{{body}}}
    </main>


    <footer class="page-footer blue darken-4">
    </footer>


    <script>
       

    </script>
    <script>

        $('.button-collapse').sideNav({
            menuWidth: 250, // Default is 300
            edge: 'left', // Choose the horizontal origin
            closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true // Choose whether you can drag to open on touch screens
        });
    </script>
</body>