<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - Hospital BuenasAguas</title>
</head>

<body>
    <nav class="blue darken-4">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/"><span class="cyan-text text-accent-3">Principal</span></a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav blue darken-1" id="mobile-demo">
        <li><a href="/">Principal</a></li>
    </ul>

    <main>
        {{{body}}}
    </main>

    <footer class="page-footer blue darken-4">
    </footer>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</body>

</html>