<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicos - Hospital BuenasAguas</title>
</head>

<body>
    <nav class="blue darken-4">
        <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i
                class="material-icons">menu</i></a>
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo right"><img src="/img/logoxddd.png" width="50px"
                    style="margin-top: 4px;"></a>
        </div>
    </nav>
    <style>
        #main3 {
            flex: 1 0 auto;
            background-image: url("img/background-medicos.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 91vh;
            flex-direction: column;
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        .content {
            padding-top: 30px;
        }
    </style>


    <main id="main3" class="content">
        {{{body}}}
    </main>


    <footer class="page-footer blue darken-4">
    </footer>



</body>