<div class="container">

    <div class="section">
        <h3 class="cyan-text text-lighten-1">Acerca del hospital</h3>
        <p class="teal-text text-lighten-5">
            Fundado en 1853 por la Sociedad de Marineros de Buenos Aires(SMBA), el Hospital BuenasAguas de Buenos
            Aires es una asociación civil sin fines de lucro dedicada a la medicina general y de alta complejidad.

            La asistencia, la docencia y la investigación son los pilares institucionales que, con una gran visión
            de futuro, establecieron sus fundadores y que hoy, a más de un siglo y medio de su creación, el Hospital
            mantiene vigentes con la misma pasión.

        </p>
        <div class="section">
            <h3 class="cyan-text text-lighten-1">Perfil de la institución</h3>

            <p class="teal-text text-lighten-5">
                Fundado en 1853 por la Sociedad de Marineros de Buenos Aires(SMBA), el Hospital BuenasAguas de
                Buenos
                Aires es una asociación civil sin fines de lucro dedicada a la medicina general y de alta
                complejidad.

                La asistencia, la docencia y la investigación son los pilares institucionales que, con una gran
                visión
                de futuro, establecieron sus fundadores y que hoy, a más de un siglo y medio de su creación, el
                Hospital
                mantiene vigentes con la misma pasión.

            </p>
        </div>
    </div>
</div>