<div class="section container">
    <h3 class="teal-text text-lighten-5">Bienvenido al hospital BuenasAguas!</h3>

    <p class="teal-text text-lighten-5">El hospital por excelencia, perfecto para estas épocas de pandemia. Nuestros
        servicios son oceanos y nuestros precios lagrimas. Dejá que fluya, no hacemos aguas
    </p>
    <h4 class="teal-text text-lighten-5">Contacta con nosotros</h4>
    <div class="col s12">

        <form class="row card-panel" action="mailto:someone@example.com" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input id="name" name="name" type="text" class="validate white-text" required>
                    <label for="name">Nombre</label>
                </div>
                <div class="input-field col s6">
                    <input id="mail" name="mail" type="text" class="validate white-text" required>
                    <label for="mail">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="comment" name="comment" type="text" class="validate white-text" required>
                    <label for="comment">Comentario</label>
                </div>
                <div class="input-field col s12">
                    <input class="btn" type="submit" value="Enviar">
                </div>

        </form>



    </div>