<div id="content" class="container">
    <div id="medicamentosFav" class="card-panel">
        <h3 class="col s12">Turnos</h3>
        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>Médico</th>
                    <th>Especialidad</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody>
                {{#each user.turnos}}
                <tr id="tableRow">
                        <td id="medicamentoName">{{this.name}}</td>
                        <td id="medicamentoTipo">{{this.especialidad}}</td>
                        <td id="medicamentoVia">{{this.fecha}}</td>
                        <td id="medicamentoVia">{{this.hora}}</td>
                        <td><button id="deleteMedicamentoBtn" class="btn-floating btn waves-effect waves-light red">
                                <i class="material-icons">delete</i>Eliminar</button>
                        </td>
                    {{/each}}
                </tr>

            </tbody>
        </table>
    </div>
</div>